.slide {
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
  position: relative;
}
.slide a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.slide a img {
  width: 100%;
  height: auto;
  margin: auto;
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
  cursor: pointer;
}
