.product-button-counter {
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: #f5f5f5;
}
.product-button-counter button {
  border-radius: 0;
}
.product-button-counter span {
  font-size: 1rem;
  cursor: default;
}
