.group-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0.25rem;
}

.group-categories-item {
  display: flex;
  width: 25%;
  min-width: 72px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: #585858;
  margin-bottom: 8px;
}
.group-categories-item-image {
  width: 40px;
  height: 40px;
  margin-top: 0;
  margin-bottom: 4px;
}
.group-categories-item-text {
  height: 1rem;
  width: 100%;
  margin: 0 6px;
}
