.card {
  width: 100%;
  background-color: white;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: rgba(128, 128, 128, 0.25) 0 2px 6px 0;
}
.card-image-skeleton {
  width: 10rem;
  height: 10rem;
}
.card-content-skeleton {
  padding: 0.25rem;
  height: 7rem;
}
.card-content-skeleton .skeleton:first-child {
  width: 90%;
  height: 1.5rem;
}
.card-content-skeleton .skeleton:nth-child(2) {
  width: 40%;
}
.card-content-skeleton .skeleton:nth-child(3) {
  width: 50%;
}
.card-button-skeleton {
  padding: 0.25rem;
  height: 2rem;
  border-radius: 0.25rem;
}
.card-button-skeleton .skeleton {
  border-radius: 0.25rem;
}
