.card {
  display: inline-block;
  background-color: white;
  margin: 4px;
  width: 160px;
  height: 300px;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 50, 0.12) 0 1px 6px 0;
  position: relative;
}
.card-image {
  width: 160px;
  height: 160px;
  border-radius: 4px 4px 0 0;
}
.card-details {
  margin: 0 8px;
}
.card-button {
  padding: 8px 4px;
  border: none;
  background-color: #47b04b;
  color: white;
  width: 100%;
  border-radius: 0 0 4px 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
