.product-images {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
}
.product-images-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.product-images-list img {
  width: 100%;
  object-fit: cover;
}

.product-informations {
  padding: 0 12px;
}
.product-informations p {
  margin-bottom: 0.8em;
}
