.navbar-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  z-index: 1024;
  background-color: white;
  box-shadow: rgba(128, 128, 128, 0.16) 0 -2px 4px 0;
  padding: 0;
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
