.page-not-found {
  width: 100%;
  height: 100%; /* Fallback for browsers that do not support Custom Properties */
  min-height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page-not-found img {
  width: 200px;
  height: auto;
}
.page-not-found-title {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.5rem;
}
.page-not-found p {
  color: #9e9e9e;
}
.page-not-found button {
  background-color: white;
  border-radius: 0.25rem;
  color: black;
  border: 0.3rem solid transparent;
  box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
  cursor: pointer;
  text-decoration: none;
  padding: 0.2rem 0.6rem;
  margin-top: 2rem;
}
